# use glob syntax.
syntax: glob

*.elc
*.pyc
*~
.idea/
*.xml
os
numpy
*.h5
*.mhd
*.raw
*lymphnodes*
/*venv
*.ini
*.sqlite3
/__pycache__
*.txt
/models
/dataset
/tensorboard-logs
/lightning_logs
/*venv-debug
/selfcheck
/http
*.nii
*.nii.gz
/venv*
*.nrrd
/notebooks/.ipynb_checkpoints
/notebooks/unit_tests_results_dir
.ipynb_checkpoints
raidionicsmaps.egg-info
